.caja1{
    width: 250px;
    height: 150px;
    border: 3px solid #FFCC70;
    background-color: #FFCC70;
}
.caja2{
    width: 250px;
    height: 100px;
    border: 3px solid #FFFADD;
    background-color: #FFFADD;
}
.caja3{
    width: 250px;
    height: 50px;
    border: 3px solid #8ECDDD;
    background-color: #8ECDDD;
}
.caja4{
    width: 250px;
    height: 30px;
    border: 3px solid #22668D;
    background-color: #22668D;
}
.caja5{
    width: 250px;
    height: 30px;
    border: 3px solid hsl(120, 30%, 50%);
    background-color: hsl(120, 30%, 55%);
}